<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Изменить мероприятие</title>
</head>
<body>

<h1>
Изменить мероприятие с id =  
{{ id }}
</h1>

Мероприятие было поручено: 
{{ login }}

<br /><br />

<form action="controller.php" method="POST" enctype="">
  <input type="hidden" name="action" value="edit" />
  <input type="hidden" name="id" value="{{ id }}" />
    <input type="text" name="descript_new" value="{{ description }}" />

    <select size="1" name="users" >
      <option value="disabled" >Кому перепоручить?</option>
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.login }}</option>
      {% endfor %}
    </select>

    <input type="submit" name="edit_descript" value="Редактировать мероприятие" />
</form>

</body>
</html>