<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>tasks</title>
<style>
body {
 font-family: sans-serif;
 font-size: 15px;
}
table {
border: 1px solid black; 
padding: 4px;
}
td {
border: 1px solid black; 
padding: 4px;
}
</style>
</head>
<body>

<h1>
Список мероприятий пользователя: 
{{ login }}
</h1>

<form action="controller.php" method="POST" enctype="">
<input type="hidden" name="action" value="task" />
    <input type="text" name="description" placeholder="Описание задачи" value="" />
      <select size="1" name="users" >
        <option value="disabled" >чье мероприятие</option>
        {% for user in users %}
        <option value='{{ user.id }}'>{{ user.login }}</option>
        {% endfor %}
      </select>
    <input type="submit" name="save" value="Добавить мероприятие" />
</form>

<br /><br />


<table>
    <tr>
        <th>Автор</th>
        <th>Ответственный</th>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
    </tr>

{% for row in tasks %} 
  <tr>
    <td>{{ row.autors }}</td>
    <td>{{ row.assigned }}</td>
    <td>{{ row.description }}</td>
    <td>{{ row.date_added }}</td>
    <td>{{ row.status }}</td>
    <td>
        <a href='./controller.php?id={{ row.id }}&action=edit'>Изменить или перепоручить</a> 
        <a href='./controller.php?id={{ row.id }}&action=done'>Выполнить</a>
        <a href='./controller.php?id={{ row.id }}&action=delete'>Удалить</a> 
    </td>
  </tr>
{% endfor %}
</table>

<br /><br />


<table>
    <tr>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
    </tr>

{% for row in user_tasks %} 
  <tr>
    <td>{{ row.assigned }}</td>
    <td>{{ row.autors }}</td>
    <td>{{ row.description }}</td>
    <td>{{ row.date_added }}</td>
    <td>{{ row.status }}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>